<div class="post_container">
  <%= link_to post_path(post.id) do%>
    <%= image_tag post.image.url%>
  <% end %>
  <%= simple_format(post.text) %>
</div>
  <div class="config">
    <ul>
        <li><%= link_to '編集する', edit_post_path, method: :get %></li>
        <li><%= link_to '投稿を削除する', "/posts/#{post.id}", method: :delete %></li>
    </ul>
  </div>
