<div class="post_container">
  <%= link_to post_path(post.id) do%>
    <%= image_tag (post.image.variant(combine_options:{resize:"400x400^",crop:"400x400+0+0",gravity: :center}).processed) if post.image.attached? %>
  <% end %>
  <%= simple_format(post.text) %>
</div>
  <div class="config">
    <ul>
        <li><%= link_to '編集する', edit_post_path(post.id), method: :get %></li>
        <li><%= link_to '投稿を削除する', "/posts/#{post.id}", method: :delete, data: {confirm: "本当に削除しますか?", commit: "ok", cancel: "cancel"} %></li>
    </ul>
  </div>
