<div class="contents_post">
  <a href="/users/<%= post.user.id %>"><%= post.user.nickname %></a>
  <%= link_to post_path(post.id), target: "_blank" do%>
    <%= image_tag post.image.url, :size =>'480x480' %>
  <% end %>
  <%= simple_format(post.text) %>
</div>