<!DOCTYPE html>
<html>
  <head>
    <title>Sweeeets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>
    <header>
      <div class="container">
      <div class="header_title">
        <h1><i class="material-icons large">cake</i><%= link_to 'Sweeeets', root_path, method: :get %></h1>
      </div>
      <div class="header_menu">
          <ul>
            <li><%= link_to '投稿する', new_post_path, method: :get%></li>
            <% if user_signed_in? %>
              <li><%= link_to 'サインアウト', destroy_user_session_path, method: :delete%></li>
              <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
            <% else %>
              <li><%= link_to 'サインイン', new_user_session_path, method: :get%></li>
            <% end %>
          </ul>
      </div>
      </div>
      <!--hoge2-->
    </header>
    <%= yield %>
  </body>
</html>
